a {
  border: none;
}

* {
  outline: none;
}

.petpagehome {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.form-control {
  background-color: transparent;
  /*color: white;*/
}

.form-control::placeholder {
  color: white;
}

.form-control::placeholder {
  color: white;
}

.form-control::placeholder {
  color: white;
}

.form-control:focus::placeholder {
  color: black;
}

